@font-face {
    font-family: 'Gord';
    src: url('Gord-Quick-Font/gordqucikblack-p7erv.otf') format('opentype');
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

:root {
    --font: 'Gord', Helvetica;
}

/* USER INTERFACE TEXT */
h1 {
    color: black;
    font-family: var(--font);
}

.displayUsers {
    font-family: var(--font);
    display: flex;
    gap: 116px; 
    font-size: 18px;
}

.displayUsers > * {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.displayStatus {
    font-family: var(--font);
    font-size: 18px;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.restartBtn, .newGameBtn {
    font-family: var(--font);
    font-size: 18px;
    letter-spacing: 0.8px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.restartBtn:hover {
    color: #00afb9;
}

.newGameBtn:hover {
    color: #00afb9;
}

.btnContainer {
    display: flex;
    gap: 40px;
}


/* FLEXBOX BODY FORMATTING */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.gameSquare {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: whitesmoke;
    border: 1px solid black;
    font-family: var(--font);
    font-size: 80px;
    padding: 0;
    margin: 0;
}

.gameSquare:hover {
    background-color: #00afb9;
}

.gameSquare:disabled {
    color: black;
}