/* USER INTERFACE TEXT */
h1 {
    color: black;
}

.displayUsers {
    display: flex;
    gap: 116px; /* Adjusts spacing */
    font-size: 18px;
}

.displayUsers > * {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjusts spacing */
}

.displayStatus {
    font-size: 18px;
    padding-top: 10px;
}

/* FLEXBOX BODY FORMATTING */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gameSquare {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: whitesmoke;
    border: 1px solid black;
}

.gameSquare:hover {
    background-color: lightskyblue;
}