header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

h1 {
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gameSquare {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightblue;
    border: 1px solid black;
}

.gameSquare:hover {
    background-color: lightskyblue;
}